@page "/productadd"
@using BlazorIntro.Models;
<h3>ProductAdd</h3>

<EditForm Model = "@productAddModel" OnInvalidSubmit="@HandleSave">
     <DataAnnotationsValidator/>
    @*<ValidationSummary/>*@
    <div class="form-group">
         <InputText placeholder="Product Name" Class="form-control " Id="productName" @bind-Value="@productAddModel.ProductName"/>
         <ValidationMessage For="@(()=>productAddModel.ProductName)"/>
    </div>
    <div class="from-group ">
         <InputTextArea placeholder="Description" Class="form-control " id="description" @bind-Value="@productAddModel.Description"/>
        ValidationMessage For="@(() => productAddModel.Description)"/>
    </div>
     <div class="from-group ">
         <InputSelect class="form-control" id="categoryId" @bind-Value="@productAddModel.CategoryId">

    <option value="1">Drink</option>
     <option value="2">Food</option>
</InputSelect>
ValidationMessage For="@(() => productAddModel.CategoryId)"/>
    </div>
    <button class="btn btn-primary">Save</button>

</EditForm>

@code {
    ProductAddModel productAddModel = new ProductAddModel();
    private void HandleSave()
    {
        Console.WriteLine("Urun Eklendi");
    }


}
